In [1]:
import sqlite3

con = sqlite3.connect('platform.db')

import類似C的include

SQL是一個資料庫 需要連動資料庫

con = sqlite3.connect('platform.db')

cursor.execute('PRAGMA foreign_keys = ON') 為了資料庫的foreigh_key設定 即可執行

In [2]:
import sqlite3

con = sqlite3.connect('platform.db')
con.execute('PRAGMA foreign_keys = ON')

def createTable(): 
    with con:
        cursor=con.cursor() #cursor是一個指標 幫助在資料庫裡面
        cursor.execute('PRAGMA foreign_keys = ON')

        # buyers
        cursor.execute('''CREATE TABLE IF NOT EXISTS buyers (
                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                        name TEXT NOT NULL CHECK(length(name) <= 32),
                        gender TEXT NOT NULL CHECK(length(gender) <= 32),
                        age INTEGER,
                        phone TEXT UNIQUE NOT NULL CHECK(length(phone) <= 32),
                        email TEXT UNIQUE NOT NULL CHECK(length(email) <= 32),
                        password TEXT NOT NULL CHECK(length(password) <= 32)
        )''')
        # sellers
        cursor.execute('''CREATE TABLE IF NOT EXISTS sellers (
                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                        name TEXT NOT NULL CHECK(length(name) <= 32),
                        gender TEXT NOT NULL CHECK(length(gender) <= 32),
                        age INTEGER,
                        phone TEXT UNIQUE NOT NULL CHECK(length(phone) <= 32),
                        email TEXT UNIQUE NOT NULL CHECK(length(email) <= 32),
                        password TEXT NOT NULL CHECK(length(password) <= 32),
                        description TEXT NOT NULL CHECK(length(password) <= 128)
        )''')
        # properties
        # CREATE TABLE IF NOT EXISTS properties 小寫的就是tabel的名字
        cursor.execute('''CREATE TABLE IF NOT EXISTS properties ( 
                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                        name TEXT NOT NULL CHECK(length(name) <= 32),
                        address TEXT NOT NULL CHECK(length(address) <= 32),
                        description TEXT NOT NULL CHECK(length(description) <= 128),
                        price INTEGER,
                        size INTEGER,
                        published_at DATETIME,
                        seller_id INTEGER,
                        FOREIGN KEY(seller_id) REFERENCES sellers(id)
        )''')
        # viewings
        cursor.execute('''CREATE TABLE IF NOT EXISTS viewings (
                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                        buyer_id INTEGER,
                        property_id INTEGER,
                        viewed_at DATETIME,
                        rating INTEGER,
                        UNIQUE(buyer_id, viewed_at),
                        FOREIGN KEY(buyer_id) REFERENCES buyers(id),
                        FOREIGN KEY(property_id) REFERENCES properties(id)
        )''')
    con.commit()


createTable()

把data丟進去 不用另外打第一行id的原因是前面已經設定了AUTOINCREMENT(自己要加)

有很多把資料放到tabel的方法

這邊是使用list的方法 值前面要加:(要放進去的項目)

cur.execute("INSERT OR IGNORE INTO STUDENT (SID, Fname, Lname, Grade, Sex) Values(?, ?, ?, ?, ?)", (sid, fname, lname, grade, sex))

這也是一個方法 其他方法可以打python SQL查詢

In [3]:
def addData():
    buyer_data_list = [
        {"name": "Tim", "gender": "M", "age": 30, "phone": "0987654321", "email": "tim@ntu.edu.tw", "password": "abc123"},
        {"name": "Johnson", "gender": "M", "age": 31, "phone": "0912345678", "email": "johnson@ntu.edu.tw", "password": "def456"},
        {"name": "Tina", "gender": "F", "age": 29, "phone": "0918273645", "email": "tina@ntu.edu.tw", "password": "ghi789"},
    ]

    seller_data_list = [
        {"name": "Tony", "gender": "M", "age": 35, "phone": "0981726354", "email": "tony@ntu.edu.tw", "password": "jkl123", "description": "Nice"},
        {"name": "Pochuan", "gender": "M", "age": 33, "phone": "0917823564", "email": "pochuan@ntu.edu.tw", "password": "mno456", "description": "Great"},
    ]

    properties_data_list = [
        {"name": "Sunny Lake House", "address": "767 5th Ave, New York, NY 10153", "description": "A beautiful lake house with 4 bedrooms and a large garden.", "price": 500000, "size": 350, "published_at": "2024-02-01 18:00:00", "seller_id": 1 },
        {"name": "Downtown Apartment", "address": "1 E 57th St, New York, NY 10022", "description": "Modern apartment in the heart of the city, perfect for young professionals.", "price": 300000, "size": 85, "published_at": "2024-02-05 12:00:00", "seller_id": 1 },
        {"name": "Cozy Cottage", "address": "6 E 57th St, New York, NY 10022", "description": "A quaint cottage located in the countryside, ideal for a weekend getaway.", "price": 250000, "size": 120, "published_at": "2024-03-03 15:00:00", "seller_id": 2 },
        {"name": "Mountain View Loft", "address": "545 5th Ave, New York, NY 10017", "description": "A spacious loft with stunning mountain views, featuring an open floor plan and modern amenities.", "price": 400000, "size": 250, "published_at": "2024-03-04 09:00:00", "seller_id": 2 }
    ]

    viewings_data_list = [
        {"buyer_id": 1, "property_id": 1, "viewed_at": "2024-02-05 18:00:00", "rating": 8},
        {"buyer_id": 2, "property_id": 1, "viewed_at": "2024-02-10 12:00:00", "rating": 10},
        {"buyer_id": 3, "property_id": 2, "viewed_at": "2024-03-03 18:00:00", "rating": 7},
        {"buyer_id": 1, "property_id": 3, "viewed_at": "2024-03-05 09:00:00", "rating": 6},
        {"buyer_id": 2, "property_id": 2, "viewed_at": "2024-03-06 12:00:00", "rating": 9},
        {"buyer_id": 3, "property_id": 2, "viewed_at": "2024-03-06 18:00:00", "rating": 8},
        {"buyer_id": 1, "property_id": 3, "viewed_at": "2024-03-07 09:00:00", "rating": 7},
        {"buyer_id": 2, "property_id": 2, "viewed_at": "2024-03-07 12:00:00", "rating": 5},
    ]

    with con:
        cursor = con.cursor()
        cursor.executemany("INSERT OR IGNORE INTO BUYERS (name, gender, age, phone, email, password) VALUES (:name, :gender, :age, :phone, :email, :password)", buyer_data_list)
        cursor.executemany("INSERT OR IGNORE INTO SELLERS (name, gender, age, phone, email, password, description) VALUES (:name, :gender, :age, :phone, :email, :password, :description)", seller_data_list)
        cursor.executemany("INSERT INTO PROPERTIES (name, address, description, price, size, published_at, seller_id) VALUES (:name, :address, :description, :price, :size, :published_at, :seller_id)", properties_data_list)
        cursor.executemany("INSERT OR IGNORE INTO VIEWINGS (buyer_id, property_id, viewed_at, rating) VALUES (:buyer_id, :property_id, :viewed_at, :rating)", viewings_data_list)
    con.commit()
    

addData()

需要從第二個表格的資料去找第三個表格的資料

STEP.1 需要先在第二個表格中找到要的值 語法(TABEL).key1 (TABEL).key2 /*是全選

SELECT * FROM SELLERS 

STEP.2 用到關聯兩個資料庫需使用到inner join ON.....=....

INNER JOIN PROPERTIES ON PROPERTIES.seller_id = SELLERS.id

STEP.3 WHERE條件=放的值 (WHERE有很多種)

WHERE SELLERS.email = "{}"'''.format(user)

In [4]:
def queryData1():
    user = "tony@ntu.edu.tw"
    with con:
        cursor = con.cursor()
        cursor.execute('''SELECT PROPERTIES.name,PROPERTIES.address,PROPERTIES.description,PROPERTIES.price,PROPERTIES.size,PROPERTIES.published_at FROM SELLERS
        INNER JOIN PROPERTIES ON PROPERTIES.seller_id = SELLERS.id 
        WHERE SELLERS.email = "{}"'''.format(user))
        results = cursor.fetchall()
        for row in results:
            print(row)
    print("", end='\n')
    con.commit()

queryData1()

('Sunny Lake House', '767 5th Ave, New York, NY 10153', 'A beautiful lake house with 4 bedrooms and a large garden.', 500000, 350, '2024-02-01 18:00:00')
('Downtown Apartment', '1 E 57th St, New York, NY 10022', 'Modern apartment in the heart of the city, perfect for young professionals.', 300000, 85, '2024-02-05 12:00:00')

1.strftime('%m', published_at) 直接取月份 日期的格式化方法 要取甚麼%m....(要取其他的利用-連接)
- %Y：年份（四位數）
- %m：月份（兩位數，01 到 12）
- %d：日期（兩位數，01 到 31）
- %H：小時，24 小時制（00 到 23）
- %M：分鐘（00 到 59）
- %S：秒（00 到 59）
- %b：月份的縮寫名稱（Jan、Feb、Mar 等）
- %B：月份的完整名稱（January、February、March 等）
- %a：星期幾的縮寫名稱（Mon、Tue、Wed 等）
- %A：星期幾的完整名稱（Monday、Tuesday、Wednesday 等）

2.COUNT(*) 計算總數量

3.AS total 把計算完的數量儲存在total這個值

In [5]:
def queryData2():
    with con:
        cursor = con.cursor()
        cursor.execute("SELECT COUNT(*) AS total FROM PROPERTIES WHERE strftime('%Y-%m', published_at) = '2024-03' ORDER BY total ASC")
        results = cursor.fetchall()
        for row in results:
            print(row[0])  
    print("", end='\n')
    print("", end='\n')
    con.commit()

queryData2()

2

UPDATE修改數值的部分

In [6]:
def updateData1():
    phone = "0912345678"

    print("BEFORE UPDATE")
    with con:
        cursor = con.cursor()
        cursor.execute("SELECT * FROM BUYERS")
        results = cursor.fetchall()
        for row in results:
            print(row)

        print("AFTER UPDATE")
        cursor.execute("UPDATE BUYERS SET name = 'Johnson Lin' WHERE phone = '{}'".format(phone))
        cursor.execute("SELECT * FROM BUYERS")
        results = cursor.fetchall()
        for row in results:
            print(row)  
    print("", end='\n')
    print("", end='\n')
    con.commit()

updateData1()

BEFORE UPDATE
(1, 'Tim', 'M', 30, '0987654321', 'tim@ntu.edu.tw', 'abc123')
(2, 'Johnson', 'M', 31, '0912345678', 'johnson@ntu.edu.tw', 'def456')
(3, 'Tina', 'F', 29, '0918273645', 'tina@ntu.edu.tw', 'ghi789')
AFTER UPDATE
(1, 'Tim', 'M', 30, '0987654321', 'tim@ntu.edu.tw', 'abc123')
(2, 'Johnson Lin', 'M', 31, '0912345678', 'johnson@ntu.edu.tw', 'def456')
(3, 'Tina', 'F', 29, '0918273645', 'tina@ntu.edu.tw', 'ghi789')

這邊的語法是DELETE FROM (TABEL名稱) WHERE 條件

In [7]:
def deleteData1():
    print("BEFORE UPDATE")
    with con:
        cursor = con.cursor()
        cursor.execute("SELECT * FROM PROPERTIES")
        results = cursor.fetchall()
        for row in results:
            print(row)

        print("AFTER UPDATE")
        cursor = con.cursor()
        cursor.execute("DELETE FROM PROPERTIES WHERE id = 4")
        cursor.execute("SELECT * FROM PROPERTIES")
        results = cursor.fetchall()
        for row in results:
            print(row)   
    print("", end='\n')
    print("", end='\n')
    con.commit()

deleteData1()

BEFORE UPDATE
(1, 'Sunny Lake House', '767 5th Ave, New York, NY 10153', 'A beautiful lake house with 4 bedrooms and a large garden.', 500000, 350, '2024-02-01 18:00:00', 1)
(2, 'Downtown Apartment', '1 E 57th St, New York, NY 10022', 'Modern apartment in the heart of the city, perfect for young professionals.', 300000, 85, '2024-02-05 12:00:00', 1)
(3, 'Cozy Cottage', '6 E 57th St, New York, NY 10022', 'A quaint cottage located in the countryside, ideal for a weekend getaway.', 250000, 120, '2024-03-03 15:00:00', 2)
(4, 'Mountain View Loft', '545 5th Ave, New York, NY 10017', 'A spacious loft with stunning mountain views, featuring an open floor plan and modern amenities.', 400000, 250, '2024-03-04 09:00:00', 2)
AFTER UPDATE
(1, 'Sunny Lake House', '767 5th Ave, New York, NY 10153', 'A beautiful lake house with 4 bedrooms and a large garden.', 500000, 350, '2024-02-01 18:00:00', 1)
(2, 'Downtown Apartment', '1 E 57th St, New York, NY 10022', 'Modern apartment in the heart of the city, perfect for young professionals.', 300000, 85, '2024-02-05 12:00:00', 1)
(3, 'Cozy Cottage', '6 E 57th St, New York, NY 10022', 'A quaint cottage located in the countryside, ideal for a weekend getaway.', 250000, 120, '2024-03-03 15:00:00', 2)

新增資料跟剛剛第二題add概念類似 請自行參閱 要好好看

STEP.1 在看房資料庫底下新增一個資料 有很多筆資料的話用list

e.g.viewing = {"buyer_id": 3, "property_id": 1, "viewed_at": "2024-03-10 18:00:00", "rating": 8}

INSERT INTO (tabel名稱) (buyer_id, property_id, viewed_at, rating) VALUES(:buyer_id, :property_id, :viewed_at, :rating)

In [9]:
def addNewData():
    viewing = {"buyer_id": 3, "property_id": 1, "viewed_at": "2024-03-10 18:00:00", "rating": 8}
    print("BEFORE UPDATE")
    with con:
        cursor = con.cursor()
        cursor.execute("SELECT * FROM VIEWINGS")
        results = cursor.fetchall()
        for row in results:
            print(row)

        print("AFTER UPDATE")
        cursor = con.cursor()
        cursor.execute("INSERT INTO VIEWINGS (buyer_id, property_id, viewed_at, rating) VALUES(:buyer_id, :property_id, :viewed_at, :rating)", viewing) 
        cursor.execute("SELECT * FROM VIEWINGS")
        results = cursor.fetchall()
        for row in results:
            print(row) 
    print("", end='\n')
    print("", end='\n')
    con.commit()

addNewData()

BEFORE UPDATE
(1, 1, 1, '2024-02-05 18:00:00', 8)
(2, 2, 1, '2024-02-10 12:00:00', 10)
(3, 3, 2, '2024-03-03 18:00:00', 7)
(4, 1, 3, '2024-03-05 09:00:00', 6)
(5, 2, 2, '2024-03-06 12:00:00', 9)
(6, 3, 2, '2024-03-06 18:00:00', 8)
(7, 1, 3, '2024-03-07 09:00:00', 7)
(8, 2, 2, '2024-03-07 12:00:00', 5)
AFTER UPDATE
(1, 1, 1, '2024-02-05 18:00:00', 8)
(2, 2, 1, '2024-02-10 12:00:00', 10)
(3, 3, 2, '2024-03-03 18:00:00', 7)
(4, 1, 3, '2024-03-05 09:00:00', 6)
(5, 2, 2, '2024-03-06 12:00:00', 9)
(6, 3, 2, '2024-03-06 18:00:00', 8)
(7, 1, 3, '2024-03-07 09:00:00', 7)
(8, 2, 2, '2024-03-07 12:00:00', 5)
(9, 3, 1, '2024-03-10 18:00:00', 8)

STEP.1 選擇要看查詢的TABEL 並且計算數量(SUM是要算TABEL裡面的值) 要記得設定一個數值給COUNT存取

SELECT buyer_id, COUNT (*) AS viewing_total

STEP.2 設定WHERE (條件)

FROM VIEWINGS WHERE strftime('%Y-%m', viewed_at) = "2024-03"

STEP.3 GROUP BY 是指要算裡面的數量 分群的意思

GROUP BY buyer_id

STEP.4 ASC是升冪排列的意思 DESC是降冪

ORDER BY viewing_total ASC

In [10]:
def queryData3():
    with con:
        cursor = con.cursor()
        cursor.execute('''SELECT buyer_id, COUNT (*) AS viewing_total 
        FROM VIEWINGS WHERE strftime('%Y-%m', viewed_at) = "2024-03" 
        GROUP BY buyer_id 
        ORDER BY viewing_total ASC''')
        results = cursor.fetchall()
        print("User, Viewing Total")
        for row in results:
            print(row)  
    print("", end='\n')
    print("", end='\n')
    con.commit()

queryData3()

User, Viewing Total
(1, 2)
(2, 2)
(3, 3)

審題 要找總資產額最高的賣家 先找哪一個tabel可以知道賣家的資產額
然後要知道總資產額可以使用SUM

STEP.1 選擇如何分類不同賣家的項目(這邊分類賣家的項目是seller_id) 並計算其總額(計算總額的項目price要放到括號中) 需要設定存取總資產額的值 這邊設定total_money
SELECT seller_id, SUM(price) AS total_money

STEP.2 知道賣家資產額的tabel
FROM PROPERTIES 

STEP.3 分類方式是seller_id
GROUP BY seller_id 

STEP.4 降冪排列 
ORDER BY total_money DESC

In [11]:
def queryData4():
    with con:
        cursor = con.cursor()
        cursor.execute('''SELECT seller_id, SUM(price) AS total_money 
        FROM PROPERTIES 
        GROUP BY seller_id 
        ORDER BY total_money DESC''')
        results = cursor.fetchall()
        print("Max User, Total Money") 
        print(results[0])
    print("", end='\n')
    print("", end='\n')
    con.commit()

queryData4()

Max User, Total Money
(1, 800000)

審題 找評價>7的房地產 需知道房地產資訊

邏輯:我要知道房地產的評價需要到VIEWING資料庫看 而需要知道房地產的名稱需要到PROPERTIES資料庫看 兩個資料庫之間的關聯是ID/properties_id(所以需使用INNER JOIN)

STEP.1 輸出需要房地產名稱/平均評價 平均評價的語法AVG(評價分數的項目) 需要設定一個存取平均評價分數的東西
SELECT PROPERTIES.name, AVG(rating) AS avg_rating

STEP.2 如何知道評價分數的資料庫
FROM viewings

STEP.3 連接兩個資料庫 INNER JOIN (select from的放前面) = 另外一個放後面
INNER JOIN PROPERTIES ON VIEWINGS.property_id = PROPERTIES.id 

STEP.4 分類的方法(兩者之共通點)
GROUP BY property_id

STEP.5 條件 平均評價分數>7的話可以輸出
HAVING avg_rating > 7

In [13]:
def queryData5():
    with con:
        cursor = con.cursor()
        cursor.execute('''SELECT PROPERTIES.name, AVG(rating) AS avg_rating 
        FROM viewings 
        INNER JOIN PROPERTIES ON VIEWINGS.property_id = PROPERTIES.id 
        GROUP BY property_id 
        HAVING avg_rating > 7''')
        results = cursor.fetchall()
        print("Properties_name, Average Rating") 
        for row in results:
            print(row) 
    print("", end='\n')
    print("", end='\n')
    con.commit()

queryData5()

Properties.name, Average Rating
('Sunny Lake House', 8.666666666666666)
('Downtown Apartment', 7.25)

審題 需要篩選2024.03房地產ID/知道賣家ID/知道房地產ID
會需要連動到三個表格從VIEWINGS資料庫可以知道哪些房地產三月被看
- VIEWING和PROPERTIES之間的關聯是properties_id
然後從properties_id可以知道seller_id
- PROPERTIES和SELLERS之間的關聯是seller_id

STEP.1 把需要用到的select起來 按照輸出的順序選取 並計算哪一個被看最多次
SELECT PROPERTIES.seller_id, SELLERS.name, COUNT(*) AS view_most

STEP.2 FROM最一開始需要選取的資料庫
FROM VIEWINGS

STEP.3 連接VIEWING和PROPERTIES
INNER JOIN PROPERTIES ON PROPERTIES.id = VIEWINGS.property_id

STEP.4 連接PROPERTIES和SELLERS
*INNER JOIN SELLERS ON PROPERTIES.seller_id = SELLERS.id

STEP.5 條件:選取2024.03的
WHERE strftime('%Y-%m', viewed_at) = '2024-03' 

STEP.6 計算被看最多次的分類標準
GROUP BY PROPERTIES.seller_id

STEP.7 按照降冪排列
ORDER BY view_most DESC/

In [14]:
def queryData6():
    with con:
        cursor = con.cursor()
        cursor.execute('''SELECT PROPERTIES.seller_id, SELLERS.name, COUNT(*) AS view_most
                       FROM VIEWINGS 
                       INNER JOIN PROPERTIES ON PROPERTIES.id = VIEWINGS.property_id
                       INNER JOIN SELLERS ON PROPERTIES.seller_id = SELLERS.id
                       WHERE strftime('%Y-%m', viewed_at) = '2024-03' 
                       GROUP BY PROPERTIES.seller_id
                       ORDER BY view_most DESC
        ''')
        results = cursor.fetchall()
        print("Seller ID, Seller Name, Viewed Count") 
        print(results[0]) 
    print("", end='\n')
    print("", end='\n')
    con.commit()

queryData6()

Seller ID, Seller Name, Viewed Count
(1, 'Tony', 5)